.contacts .text {
	position: relative;
	width: 50vw;
	left: 25vw;
	bottom: 30vh;
	text-align: center;
}

.contacts .cup {
	position: relative;
	top: 30.1vh;
	right: 2vw;
}

.contacts .cup img {
	height: 50vh;
}

.contacts .apple {
	transform: rotate(270deg);
	position: relative;
	left: 13vw;
	bottom: 36vh;
}

.contacts .apple img {
	height: 50vh;
}

.contacts {
	height: 80vh;
}