footer {
	/*position: relative;*/
	z-index: 99;
	background-color: #BA0800;
	height: 10vh;
	padding-top: 2vh !important;
	padding-bottom: 2vh !important;
	text-align: right;
}

footer img {
	margin-top: 1vh;
	height: 5vh;
	display: inline-block;
}

footer p {
	color: #ffffff;
	margin-top: 1.5vh;
}

/* .bottom_inscription:hover	 {
	border-bottom: 1px dashed #fff;
} */