.news_block {
    color: #181818;
    box-shadow: 0 0 40px 0 rgba(0,0,0,.3)
}

.themes_right {
    padding-top: 20px;
}

.th_wrap {
    text-align: right;
}

.themes_header {
    color: #7A0500;
    font-size: 20px;
    font-family: 'Oswald';
    padding-top: 16px;
}


.news_block img {
    width: 100%;
    margin: auto;
    border: 2px solid #BA0800;  
    margin-bottom: 0.5vh;
}

.news_header {
    font-size: 6vh;
    font-family: 'Oswald';
    color: #BA0800; 
}

p.news_header {
    margin-bottom: 0;
}

.news_cont {
    padding-left: 51px !important;
	padding-right: 51px !important;
}

.news_title {
    padding-top: 0.7vh;
    font-size: 3vh;
    margin-bottom: 0.7vh;
    font-family: 'Oswald';
    line-height: 110%;
}

.news_text {
    font-size: 1.5vh;
    margin-bottom: 0.7vh;
}

.news_tag {
    border: 0.1vh solid #BA0800;
    border-radius: 0 5px 0 5px;
    height: 2.8vh;
    display: inline-block;
    font-family: 'Roboto';
    font-size: 1.35vh;
    padding: 0.2vh;
    color: #181818;
    margin-bottom: 1vh;
    margin-right: 1vh;
}


.news_tag:hover,
.news_tag:focus {
  box-shadow: inset 0 0 0 2em #BA0800;
  color: #ffffff !important;
  animation: fill-in 0.5s;
  text-decoration: none;
}

.news_block {
    margin-right: 8vw;
    margin-left: 8vw;
}

.news_item {
    padding-top: 3vh;
}
