.news_block {
    color: #181818;
    box-shadow: 0 0 40px 0 rgba(0,0,0,.3);
    padding-bottom: 6vh;
    background-color: #ffffff;
    padding-right: 2vw;
    padding-left: 2vw;
}


.news_block img {
    width: 100%;
    margin: auto;
}

.news_header {
    font-size: 6vh;
    font-family: 'Oswald';
    color: #BA0800; 
}

.news_title {
    font-size: 3vh;
    margin-bottom: 0.7vh;
}

.news_text {
    font-size: 1.5vh;
    margin-bottom: 0.7vh;
}

.news_tag {
    border: 0.1vh solid #BA0800;
    border-radius: 0 5px 0 5px;
    height: 2.8vh;
    display: inline-block;
    font-family: 'Roboto';
    font-size: 1.5vh;
    padding: 0.2vh;
    color: #181818;
    margin-bottom: 1vh;
    margin-right: 1vh;
}


.news_tag:hover,
.news_tag:focus {
  box-shadow: inset 0 0 0 2em #BA0800;
  color: #ffffff;
  animation: fill-in 0.5s;
  text-decoration: none;
}

.news_block {
    margin-right: 8vw;
    margin-left: 8vw;
}

.news_item {
    padding-top: 3vh;
}