<link rel="stylesheet" href="/css/jquery.fancybox.min.css" />

<style>
    .adm_carousel img {
        width: 15vw;
    }
    .adm_carousel .col-md-4 {
        display: block;
        z-index: 10;
    }
    
    .adm_carousel {
        z-index: 0;
    }


    
</style>


<div class="filter">
	<div class="container">
		<div class="caption" style="margin-bottom:10px"><span class="fa fa-cogs mr5"></span> @(Practice change)</div>
	</div>
</div>

<div class="container">
    <div class="row adm_carousel">

    </div>
</div>

<div class="container">
    <p>Файлы на карусель </p>
    <form enctype="multipart/form-data" action="" method="POST" >
        
        <input type="file" name="file">
        <input type="submit" value="Отправить">
    </form>
</div>


<script src="/js/jquery.fancybox.min.js"></script>
<script> 
    $(document).ready(function () {
    $.ajax({
        type: 'GET',
        url: '/api/carousel',
        success: function(data) {
            for (var i = 0; i < data.size; i++) {   
                $('.adm_carousel').append(`<div class="col-md-4"><img src="/img/carousel/carousel${i}.jpg"><div><button class="trash"><i class="fa fa-trash"></i></button> <button class="cogs"><i class="fa fa-cogs"></i></button></div></div>`);
            }
            $('.trash').click(function () {
                let delete_num=(($(this).parent('div').parent('.col-md-4')).children('img')).attr('src');
                let send_num;
                for (var i=delete_num.length-5;!((((delete_num[delete_num.length-5]).charCodeAt()>=48)&&((delete_num[delete_num.length-5]).charCodeAt()<=57)));i--) {
                    //Код против кулхацкеров
                    send_num=delete_num[i]+send_num; 
                }
                alert(send_num);
                if (!send_num||send_num<0)
                    {
                        alert("Неправильный ввод для удаления, введите номер изображения")
                        return 0;
                    }
                AJAX('POST /$manager/delete-image',{num:send_num},(res)=>{
                    if (res.err)
                        alert(res.err)
                    if (res.ok){
                        alert("Успешное удаление");
                    }
                })
            })
            $('.cogs').click(function () {
                let change_num=$(this).parent('div').parent(".col-md-4").children('img').attr('src');
                let send_num = (change_num[change_num.length-5]) - (-1);
                $.fancybox.open(`<div class="message"><p>Файл на замену: </p><form enctype="multipart/form-data" action="/$manager/change-image" method="POST" ><input type="text" readonly value="${send_num}" name="id"><input type="file" name="file"><input type="submit" value="Отправить"></form></div>`);
            })
        }
    })


    })
    

</script>