<div class="filter">
	<div class="container">
		<div class="caption" style="margin-bottom:10px"><span class="fa fa-cogs mr5"></span> @(Practice change)</div>
	</div>
</div>
<div class="container">
    <p>Добавить </p>
    <form action="" method="POST" class="practice-add">
        <select name="lvl1">
            <option value="fiz">Физ лица</option>
            <option value="yr">Юр лица</option>
            <option value="admspor">Адм споры</option>
            <option value="zash">Защита</option>
        </select>
        <input type="text" name="lvl2">
        <input type="text" name="lvl3">
        <input type="submit" value="Отправить">
    </form>
</div>

<script> $('.practice-add').submit((e)=>{
        //console.log($(this));
        e.preventDefault();
        let a = [];
        let buf = $('.practice-add').children("[name*='lvl']").each((i,el) => { a.push($(el).val())});
        console.log(a);
        AJAX('POST /$manager/practice',{lvl1:a[0],lvl2:a[1],lvl3:a[2]},(res)=>{
            if (res.err)
                alert(res.err)
            if (res.ok)
                alert(res.ok)
            
        });
        //console.log(buf.map(el => $(el).val()));
        
    });
</script>