.fiz2 {
	background: url(/img/fiz2.png);
	height: 180px;
}

.port2 {
	background: url(/img/port2.png);
	height: 180px;
}

.doc2 {
	background: url(/img/doc2.png);
	height: 180px;
}

.law2 {
	background: url(/img/law2.png);
	height: 180px;
}

/*.qwe {
	display: none;
	position: relative;
	z-index:-200;
}

.qwe3rdlvl {
	display: none;
	position: relative;
	z-index: 200;
}*/

.practice_block:hover .fiz2 {
	background: url(/img/fiz.png);
}

.practice_block:hover .doc2 {
	background: url(/img/doc.png);
}

.practice_block:hover .port2 {
	background: url(/img/port.png);
}

.practice_block:hover .law2 {
	background: url(/img/law.png);
}

.practice_block {
	cursor: pointer;
}

.pr_page p{
    text-align: center;
    color: #000000;
}

.pr_page.practice_block:hover {
    background: #ba0800;
}

.pr_page.practice_block {
    background: #fff;
}


.pr_page.practice_block:hover p {
    color: #ffffff;
}

.raspor {
	z-index:-100;
	margin-bottom: 2%;
}

fiz3_block.rasp {
	z-index: -99;
}

port3_block.rasp {
	z-index: -98;
}

doc3_block.rasp {
	z-index: -97;
}

law3_block.rasp {
	z-index: -96;
}

.rasp {
	position: absolute !important;
	visibility: hidden;
}