.news_block {
    color: #181818;
    
}

.news_block img {
    width: 100%;
    margin: auto;
}

.news_title {
    font-size: 3vh;
    margin-bottom: 0.7vh;
}

.news_text {
    font-size: 1.5vh;
    margin-bottom: 0.7vh;
}

.news_tag {
    border: 0.1vh solid #BA0800;
    border-radius: 0 5px 0 5px;
    height: 2.8vh;
    display: inline-block;
    font-family: 'Roboto';
    font-size: 1.5vh;
    padding: 0.2vh;
    color: #181818;
}

@keyframes fill-in {
    0% {box-shadow:inset 0 0 0 0 #BA0800;}
}

.news_tag:hover,
.news_tag:focus {
  box-shadow: inset 0 0 0 2em #BA0800;
  color: #ffffff;
  animation: fill-in 0.5s;
  text-decoration: none;
}

