.our-command {
    font-family: 'Oswald';
    margin-right: 8vw;
    margin-left: 8vw;
}

.command-header p {
    font-size: 60px;
    color: #BA0800;
}

.command-list {
    border-right: 3px solid #7A0500;
    padding-right: 0px !important;
}
.command-tile {
    
}
.member_img {
    max-width: 100%;
    border: 2px solid #BA0800;
}
.member_name {
    font-size: 30px;
    color: #7A0500;
    margin-bottom: 0px;
}
.member_achievments {
    font-size: 20px;
    color: #181818;
}

.command-list a:hover {
    font-size: 24px;
    color: #BA0800 !important;
    text-decoration: none;
}

.command-list a {
    display: block;
    color: #181818;
    font-size: 23px;
    margin-bottom: 0px;
}

.member_block {
    display: inline-block;
    width: 33% !important;
    text-align: center;
}
