@{notranslate}
@{nocompress html}

@{if repository.preview}<!-- render preview for editing in $manager -->
	<div id="CMS">
		@{if repository.page && repository.page.body}
			<!-- RENDER UPDATED CONTENT -->
			@{!repository.page.body}
		@{else}
			<!-- TEMPLATE HTML -->
			<div class="CMS_widgets"></div>
		@{fi}
	</div>
	<script>
	function $cmseditor_load(type) {
		// type === undefined  --> load new content
		// type === sourcecode --> content changed
	}

	function $cmseditor_save(type) {
		// type === undefined  --> save the content
		// type === sourcecode --> get source-code

		// changed the DOM
		// DOM will be saved
	}
	</script>
@{else}<!-- render normal page for visitors -->
	@{if repository.page && repository.page.body}
		@{!repository.page.body}
		<div class="news_block">
			<div class="container">
				<div class="row">
					@{foreach m in model.items}
						<div class="col-md-4">
							<img src="@{m.pictures[0]}" alt="" />
							<a href="@{sitemap_url('blogsdetail', m.linker)}" class="news_title">@{m.name}</p>
							<p class="news_text">@{m.perex}</p>
							@{foreach i in model.items.tags}<a href="#" class="news_tag">@{i}</a>@{end}
						</div>
					@{end}
					<!--<div class="col-md-4">
						<img src="/img/test_image.png" alt="" />
						<p class="news_title">На юге Афганистана ликвидировали 30 боевиков</p>
						<p class="news_text">Силы безопасности Афганистана ликвидировали по меньшей мере 30 боевиков радикального движения в ходе операции в южной провинции Кандагар, </p>
						<a href="#" class="news_tag">В мире</a>
						<a href="#" class="news_tag">Последние новости собачий дворец собака</a>
					</div>
					<div class="col-md-4">
						<img src="/img/test_image.png" alt="" />
						<p class="news_title">На юге Афганистана ликвидировали 30 боевиков</p>
						<p class="news_text">Силы безопасности Афганистана ликвидировали по меньшей мере 30 боевиков радикального движения в ходе операции в южной провинции Кандагар, </p>
						<a href="#" class="news_tag">В мире</a>
						<a href="#" class="news_tag">Последние новости собачий дворец собака</a>
						<a href="#" class="news_tag">В мире</a>
						<a href="#" class="news_tag">Последние новости собачий дворец собака</a>
					</div>-->
				</div>
			</div>
		</div>
	@{fi}
@{fi}