@{notranslate}
@{nocompress html}

@{if repository.preview}<!-- render preview for editing in $manager -->
	<div id="CMS">
		@{if repository.page && repository.page.body}
			<!-- RENDER UPDATED CONTENT -->
			@{!repository.page.body}
		@{else}
			<br />
			<div class="">
				<div class=""></div>
				<div class="">
					<div class="CMS_remove tac">
							<div class="row">
							
									<div class="col-md-4"><img src="/img/empty.png" class="CMS_edit img-responsive" data-width="250" data-height="250" alt="" width="250" height="250" /></div><!---->
									<div class="col-md-4 t-member_block">
										<p class="CMS_edit CMS_singleline template_things">Иван Иванович Иванов</p>
										<p class="CMS_edit CMS_singleline CMS_perex">Адвокат, к.ю.н.</p>
										<br />
										<p class="CMS_edit CMS_singleline">+7 (900) 000-00-00</p>
										<p class="CMS_edit CMS_singleline">box@mail.ru</p>
									</div>
									<div class="col-md-4 t-practice_block">
										<p class="template_things">Практики</p>
										<p class="CMS_edit CMS_multiline">Юридический консалтинг</p>
									</div>
								<br />
							</div>
					</div>
					<br />
					<div>
						<div class="CMS_repeat">
							<div class="CMS_edit col-md-12"><p class="member_about">История этого человека полна великих свершений, но о них не следует говорить.</p></div>
							<br />
						</div>
					</div>
					<div class="CMS_widgets"></div>
					<br />
					
				</div>
			</div>
		@{fi}
	</div>
	<script>
	function $cmseditor_load(type) {
		// type === undefined  --> load new content
		// type === sourcecode --> content changed
	}

	function $cmseditor_save(type) {
		// type === undefined  --> save the content
		// type === sourcecode --> get source-code

		// changed the DOM
		// DOM will be saved
	}
	</script>
@{else}<!-- render normal page for visitors -->
	@{if repository.page && repository.page.body}
		@{!repository.page.body}
	@{fi}
@{fi}
