@{notranslate}
@{nocompress html}

@{if repository.preview}<!-- render preview for editing in $manager -->
	<div id="CMS">
		@{if repository.page && repository.page.body}
			<!-- RENDER UPDATED CONTENT -->
			@{!repository.page.body}
		@{else}
			<!-- TEMPLATE HTML -->
				<div class="container">
					<p class="annotation_header">
						Аннотация
					</p>
					<p class="CMS_edit CMS_multiline perex annotation">Введите ваш текст</p>
					<div class="publication_flex">
						<a href="" class="CMS_edit pub_block_flex">Читать</a>
					</div>
				<div class="CMS_widgets"></div>
				</div>
		
			 
		@{fi}
	</div>
	<script>
	function $cmseditor_load(type) {
		// type === undefined  --> load new content
		// type === sourcecode --> content changed
	}

	function $cmseditor_save(type) {
		// type === undefined  --> save the content
		// type === sourcecode --> get source-code

		// changed the DOM
		// DOM will be saved
	}
	</script>
@{else}<!-- render normal page for visitors -->
	@{if repository.page && repository.page.body}
		@{!repository.page.body}
	@{fi}
@{fi}
