
<!--

<div class="row">
<div class="col-md-2">@{foreach m in [1,2,3,4,5]}<h3>test</h3>@{end}</div>
<div class="col-md-10">
       <div class="row">
    @{foreach m in model.items}
    <div class="col-md-4">@{!m.body}</div>
    @{end}
    </div>
</div> 
</div>  
-->

<div class="carousel container-fluid">
    <div class="row">
        <div class="col-md-12">
            <img src="/img/au_caroutest.png" alt="">
        </div>
    </div>
</div>


<div class="our-command">
    <div class="container-fluid white_block">
        <div class="row">
            <div class="col-md-6 command-header">
                <p>О нас</p>
            </div>
            <div class="col-md-6 command-header t-a">
                <a href="/gallery/" class="">Галлерея</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 command-list">
                @{foreach m in model.items}
                <p class="col-md-12 left_mName personname">@{m.name} <span class="hidden body">@{m.body}</span><span class="hidden author">@{m.author}</span></p>
                
                @{end}
            </div>
                <div class="col-md-9 command-tile">
                    @{foreach m in model.items}
                        <div class="col-md-4 member_block">
                            <img class="member_img" src="@{m.pictures[0]}" alt="" />
                            <p class="member_name personname">@{m.name}<span class="hidden body">@{m.body}</span><span class="hidden author">@{m.author}</span></p>
                            <p class="member_achievments">@{m.perex}</p>
                        </div>
                    @{end}
                </div>
        </div>
        <div class="row">
            <div class="col-md-11"></div>
            <div class="col-md-1">
                <i class="fa fa-times backToBeg hidden"></i>
            </div>
        </div>
        <div class="row spacer"></div>
    </div>
</div>