@{sitemap('blogs')}

<!-- <div class="carousel container-fluid">
	<div class="row">
		<div class="col-md-12">
			<img src="/img/caroutest.png" alt="">
		</div>
	</div>
</div> -->
<div class="padding news_block news_page_block">
	<div class="padding container-fluid">
		<div class="row">
				<div class="col-md-3">
					<p class="news_header">Новости</p>
				</div>
				<div class="col-md-3">
					'search here ---- >'
				</div>
				<div class="col-md-1 th_wrap">
					<p class="themes_header">Темы:</p>
				</div>
				<div class="col-md-5 themes_right">
						@{foreach m in model.items}
							@{foreach i in m.tags}
								<a href="#" class="news_tag">@{i}</a>
							@{end}
						@{end}
				</div>
			</div>
			<div class="row news_page_cont">
					@{foreach m in model.items}
						<div class="col-md-3 news-item news_page-item">
							<div class="news_date">
								<!--<p>@{m.datecreated}</p> Как вытащить дату в нормальный формат?-->
							</div>
							<img src="@{m.pictures[0]}" alt="" />
							<a href="@{sitemap_url('blogsdetail', m.linker)}" class="news_title">@{m.name}</a>
							<p class="news_text">@{m.perex}</p>
							@{foreach i in m.tags}<a href="#" class="news_tag">@{i}</a>@{end}
						</div>
					@{end}
			</div>
	</div>
</div>