<!-- BEGINNING -->
<div class="padding">
    <div class="news_block">
        <div class="container-fluid white_block">
            <div class="row">
                <h1 class="contract_header">Договор</h1>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <p>г. Москва</p>
                </div>
                <div class="col-md-3">
                    <input type="date" class="contract_input"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                </div>
            </div>
        </div>
    </div>
</div>