<div class="carousel container-fluid">
    <div class="row">
        <div class="col-md-12 yandexmap_click">
            <iframe class = "ymap_frame" src="https://yandex.ru/map-widget/v1/-/CBqrZLU7WB" width="90%" height="100%" frameborder="0"></iframe>
        </div>
    </div>
</div>

<div class="our-command">
    <div class="container-fluid white_block">
        <div class="row">
            <div class="col-md-12 command-header">
                <p>Контакты</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 left_text">
                <p>Телефон: +7 (499) 40-600-28</p>
                <p>Звонки принимаются с 09:00 до 18:00</p>
                <p>Адрес: г. Москва, ул. Малая Пироговская, д. 13, стр. 1, оф. 317</p>
                <p>Электронная почта: pravovik-k@bk.ru</p>
            </div>
            <div class="col-md-6 right_text">
                <p>*Путь*</p>
            </div>
        </div>
    </div>
</div>