<div class="carousel container-fluid">
    <div class="row">
        <div class="col-md-12 slider_shadow">
            <div class="slick_slider">
                <div>
                    <img src="/img/caroutest.png" alt="">
                </div>
                <div>
                    <img src="/img/caroutest.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
    
<div class="padding news_block">
    <div class="padding news_block container-fluid white_block">
        <div class="row">
            <div class="col-md-12">
                <p class="news_header">События</p>
            </div>
        </div>
        <div class="events_flexible">
            <div class="events_left">
                <div class="events_but events_to_publ">
                  Публикации
                </div>
            </div>
            <div class="events_right">
                <div class="events_but events_to_timeline">
                  Таймлайн
                </div>
            </a>
        </div>
    </div>
</div>