<footer>
    <div class="container-fluid">
        <div class="row">
                <div class="col-md-4">
                    <a href="/"><img src="/img/logo.png"/></a>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-6 claimer">
                    <p class = "bottom_inscription">
                        Коллегия адвокатов "Правовик-К". &copy; 2018
                    </p>
                </div>
        </div>
    </div>
    <!--<div class="fs11">&copy; 2017 All rights reserved.</div>-->
</footer>