<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.4.1/jquery.fancybox.min.css" />

<div class="news_block noshadow">
    <div class="container-fluid white_block timeline__page_wb">
        <div class="row">
            <div class="col-md-12">
                <p class="news_header">Галерея</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 gallery_wrap">
                <a href="/img/caroutest.png" data-fancybox="images"><img src="/img/caroutest.png" alt=""/></a>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.4.1/jquery.fancybox.min.js"></script>
