<div class="carousel container-fluid">
    <div class="row">
        <div class="col-md-12 slider_shadow">
            <div class="slick_slider">
                @{foreach m in repository.size}
                <div>
                    <img src="/img/carousel/carousel@{m}.jpg" alt="">
                </div>
                @{end}
            </div>
        </div>
    </div>
</div>
    
    <div class="padding">
        <div class="news_block">
            <div class="container-fluid white_block">
              <div class="row">
                  <div class="col-md-6">
                      <p class="news_header">Новости</p>
                  </div>
                  <div class="col-md-1 th_wrap">
                      <p class="themes_header">Темы:</p>
                  </div>
                  <div class="col-md-5 themes_right">
                        @{foreach m in model.items}
                            @{foreach i in m.tags}
                                <a href="#" class="news_tag">@{i}</a>
                            @{end}
                        @{end}
                  </div>
              </div>
              <div class="row news_cont">
                @{foreach m in model.items}
                <div class="col-md-4 news_item">
                    <div class="news_date">
                        <!--<p>@{m.datecreated}</p> Как вытащить дату в нормальный формат?-->
                    </div>
                    <img src="@{m.pictures[0]}" alt="" />
                    <a href="@{sitemap_url('blogsdetail', m.linker)}" class="news_title">@{m.name}</a>
                    <p class="news_text">@{m.perex}</p>
                    @{foreach i in m.tags}<a href="#" class="news_tag">@{i}</a>@{end}
                </div>
                @{end}
            </div>
              <div class="row spacer"></div>
            </div>
          </div>
        </div>