@{import('practice.js')}
<div class="carousel container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="slick_slider">
                    @{foreach m in repository.size}
                    <div>
                        <img src="/img/carousel/carousel@{m}.jpg" alt="">
                    </div>
                    @{end}
                    <!--
                    <div>
                        <img src="/img/caroutest.png" alt="">
                    </div>
                    <div>
                        <img src="/img/caroutest.png" alt="">
                    </div>-->
                </div>
            </div>
        </div>
    </div>
    <div class="our-command">
        <div class="container-fluid white_block">
            <div class="row">
                <div class="col-md-12 command-header">
                    <p>Практики</p>
                </div>
            </div>
            <div class="row">
            <ul id="practice_level_system">
                <li class="lvl1">
                    <p class="lvl1_click fiz">Физическим лицам</a>
                    
                </li>
                <li class="lvl1">
                    <p class="lvl1_click port">Юридическим лицам</a>
                    
                </li>
                <li class="lvl1">
                    <p class="lvl1_click doc">Административные споры</a>
                    
                </li>
                <li class="lvl1">
                    <p class="lvl1_click law">Уголовно-правовая защита</a>
                </li>   
            </ul>
        </div>
    </div>
    

    <i class="fa fa-caret-right rotata"></i>

    <script>
    // AJAX('GET /api/practics/', '',(res)=>{
    //             console.log('res: ', res);
    //         });
    </script>
