@{title(model.name)}
@{sitemap('practicedetail')}
@{sitemap_change('practicedetail', 'url', model.linker)}
@{sitemap_change('practicedetail', 'name', model.name)}

<div class="row">
<div class="padding col-md-6">
    @{!model.options.body.tidyCMS()}
</div>
<div class="col-md-6">
    @{view('partial-person', model)}
</div>
</div>

<div class="padding current_practice">
    <div class="news_block">
        <div class="container-fluid white_block">
          <div class="row">
			<div class="col-md-12">
				<p class="news_header">*НАЗВАНИЕ ПРАКТИКИ*</p>
			</div>
				<div class="col-md-9 text">
						Для начала давайте ответим на следующий вопрос: есть ли у Вас несовершеннолетние дети? Если да, тогда Ваш брак будет расторгаться в судебном порядке. В каком именно и как долго — зависит от наличия или отсутствия спора между Вами и Вашим супругом о месте жительства детей и(или) разделе совместно нажитого имущества.

						Вопросы места жительства детей, уплаты алиментов на них, определения правового режима имущества рекомендую Вам разрешить путем заключения соответствующих соглашений. Поверьте, затраты на их составление, согласование и удостоверение будут намного меньше, чем издержки от соответствующих судебных процессов. Поэтому, если есть возможность договориться, ее нельзя упускать. При наличии соответствующих соглашений суд расторгнет Ваш брак в течение трех месяцев без каких-либо дополнительных финансовых и эмоциональных потерь.
						
						Если никаких споров между Вами нет, но несовершеннолетние дети есть, тогда процедура расторжения брака в суде будет носить формальный характер. Для ее прохождения Вам будет необходимо подать:
						
						Иск о расторжении брака, в котором указать, что споров о месте жительства детей и разделе имущества между Вами нет;
						Заявление о выдаче судебного приказа о взыскании алиментов (в случае необходимости).
						При отсутствии детей, брак расторгается в суде также в случае, если один из супругов не согласен на его расторжение или уклоняется от его расторжения в органах ЗАГС. Помните, что супруг не имеет права без согласия жены возбуждать дело о расторжении брака во время ее беременности и в течение года после рождения ребенка. Вместе с тем, он не лишен права заявить иск о признании брака недействительным при наличии соответствующих оснований, либо иной иск, вытекающий из брачно-семейных отношений (о воспитании общих детей, о разделе имущества, об оспаривании брачного договора и т.д.)
						
						Мне часто задают вопрос, в какой суд обращаться с иском о расторжении брака, когда место жительства, нахождения второго супруга неизвестно или он проживает в другом городе. Исковое заявление о расторжении брака может быть подано по месту жительства истца в случае, если одновременно с требованием о расторжении брака заявляется требование о взыскании алиментов, а также в случае, если с заявителем проживает несовершеннолетний ребенок.
						
						Расторжение брака только на первый взгляд не представляет сложности, на самом деле недостаточно просто заявить соответствующее требование, важно еще предотвратить все негативные последствия такого шага. Даже подробная инструкция и образцы документов не могут гарантировать Вам достижения успешного результата при попытках самостоятельно решить проблему раздела имущества, места жительства ребенка, порядка общения с ним, взыскания алиментов.
						
						Я буду рада оказать Вам правовую помощь и поддержку как в переговорном процессе, в составлении и согласовании условий указанных выше соглашений, так и в представлении Ваших интересов в суде по делу о расторжении брака: от консультаций и составления документов до непосредственного участия в процессе.
				</div>
				<div class="col-md-3">
					<div class="people">
							@{foreach m in model.items}
								<div class="col-md-12 person">
									<img src="/download/1807041641Tpqjkr.jpg" alt="" class="member_img"/>
									<p class="member_name">@{m.name}</p>
									<p class="member_achievments">@{m.body}</p>
								</div>
							@{end}
					</div>
				</div>
		  </div>
		</div>
	</div>
</div>