@{import('pidor.js')}
<div class="carousel container-fluid">
        <div class="row">
            <div class="col-md-12">
                    <img src="/img/caroutest.png" alt="">
            </div>
        </div>
    </div>
    


    <div class="our-command">
        <div class="container-fluid white_block">
            <div class="row">
                <div class="col-md-12 command-header">
                    <p>Практики</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="col-md-12 practice_block pr_page fiz3_block rasp">
                        <div class="practice_img fiz2"></div>
                        <p>Физическим лицам</p>
                    </div>
                    <div class="col-md-12 practice_block pr_page port3_block rasp">
                        <div class="practice_img port2"></div>
                        <p>Юридическим лицам</p>
                    </div>
                    <div class="col-md-12 practice_block pr_page doc3_block rasp">    
                        <div class="practice_img doc2"></div>
                        <p>Административные споры</p>        
                    </div>
                    <div class="col-md-12 practice_block pr_page law3_block rasp">
                        <div class="practice_img law2"></div>
                        <p>Уголовно-правовая защита</p> 
                    </div>
                </div>
                <div class="col-md-2 practice_block pr_page fiz2_block">
                    <div class="practice_img fiz2"></div>
                    <p>Физическим лицам</p>
                </div>
                <div class="col-md-2 practice_block pr_page port2_block">
                    <div class="practice_img port2"></div>
                    <p>Юридическим лицам</p>
                </div>
                <div class="col-md-2 practice_block pr_page doc2_block">    
                    <div class="practice_img doc2"></div>
                    <p>Административные споры</p>        
                </div>
                <div class="col-md-2 practice_block pr_page law2_block">
                    <div class="practice_img law2"></div>
                    <p>Уголовно-правовая защита</p> 
                </div>
                <div class="col-md-2"></div>
            </div>

            <div class="row" style="visibility:hidden">
                <div class="col-md-2">
                    <div class="col-md-12 practice_block pr_page raspor">
                        <div class="practice_img fiz2"></div>
                        <p>Физическим лицам</p>
                    </div>
                    <div class="col-md-12 practice_block pr_page raspor">
                        <div class="practice_img fiz2"></div>
                        <p>Юридическим лицам</p>
                    </div>
                    <div class="col-md-12 practice_block pr_page raspor">    
                        <div class="practice_img fiz2"></div>
                        <p>Административные споры</p>        
                    </div>
                </div>
            </div>
        </div>
    </div>
    