<div class="padding">
    <div class="news_block noshadow">
        <div class="container-fluid white_block">
          <div class="row">
              <div class="col-md-12">
                  <p class="news_header">Политика Cookie</p>
              </div>
              <div class="col-md-12">
                <h1>Что такое файлы cookie?</h1>
Cookie — текстовые файлы с небольшим объемом информации, которые передаются на браузер и хранятся на вашем компьютере, мобильном телефоне или другом устройстве, с которого вы заходите на сайт. Файлы cookie отправляют информацию на наш сайт каждый раз, когда вы его посещаете.

Файлы cookie могут быть постоянными («постоянные»), которые сохраняются на компьютере до тех пор, пока пользователь их не удалит, или временными («сессионные»), которые действуют до тех пор, пока пользователь не закроет браузер.

Кроме того, файлы cookie могут быть основными, которые устанавливаются с посещаемого сайта, и сторонними, которые устанавливаются иными лицами, не принадлежащими владельцу сайта.
<br>
<h1>Каким образом мы используем файлы cookie?</h1>
Мы используем файлы cookie для улучшения функциональности нашего Сервиса, повышения эффективности навигации по страницам, запоминания настроек и максимального удобства пользователя. Мы также используем файлы cookie для того, чтобы анализировать, как пользователи пользуются нашим Сервисом, взаимодействуют с содержимым сайта и просматривают рекламу. В этих целях мы разрешаем одобренным третьим сторонам использовать файлы cookie и иные подобные технологии.
<br>
<h1>Используемые файлы cookie и их назначение</h1>
Файлы cookie, используемые нами в рамках данного Сервиса, подразделяются на следующие категории:
<br>
<h2>Строго необходимые:</h2>
Эти файлы cookie поддерживают навигацию по сайту и предоставление запрашиваемых услуг, например, для доступа к защищенным страницам. Файлы cookie этого типа применяются при регистрации пользователей и при входе в систему. Без них становятся недоступны запрашиваемые пользователем услуги. Данные файлы cookie являются основными и могут быть как постоянными, так и временными. Иными словами, без этих файлов cookie наш Сервис не будет работать должным образом.
<br>
<h2>Эксплуатационные:</h2>
Эти файлы cookie собирают информацию об использовании сайта пользователями, например, данные о наиболее посещаемых страницах и продолжительности посещения. Цели использования этих файлов cookie: - получение статистики о пользовании нашим Сервисом - оценка эффективности рекламных кампаний (мы не используем данную информацию для направления вам рекламы) Данные файлы cookie могут быть постоянными или временными, основными или сторонними (Например... Adobe SiteCatalyst). Они собирают информацию о посещении страниц и просмотре рекламы.
<br>
<h2>Функциональные:</h2>
Эти файлы cookie позволяют сайту запоминать информацию о выбранных вами параметрах (например, имя пользователя, язык или страна, в которой вы находитесь) и обеспечивают доступ к расширенным и персонализированным возможностям. Эти файлы cookie также могут быть использованы для предоставления пользователям запрошенных ими услуг, например, поддерживают просмотр видео или публикации комментариев в блоге. Цели использования этих файлов cookie: - запоминание сведений о том, предоставлялись ли пользователю какие-либо услуги ранее - повышение качества взаимодействия с сайтом в целом путем запоминания выбранных предпочтений Данные файлы cookie бывают постоянными или временными, основными или сторонними. Они запоминают предоставленную вами информацию, повышая удобство пользования сайтом.
              </div>
            </div>
        </div>
    </div>
</div>