@{sitemap('publication')}

<div class="carousel container-fluid">
	<div class="row">
		<div class="col-md-12">
			<img src="/img/caroutest.png" alt="">
		</div>
	</div>
</div>
<div class="padding news_block">
	<div class="padding news_block container-fluid white_block">
		<div class="row">
				<div class="col-md-12">
					<p class="news_header">Публикации</p>
				</div>
				<div class="col-md-5 themes_right">
						@{foreach m in model.items}
							@{foreach i in m.tags}
								<a href="#" class="news_tag">@{i}</a>
							@{end}
						@{end}
				</div>
			</div>
		<div class="row">
			<div class="col-md-12">
				@{view('partial-publication', model)}
				@{view('partial-pagination', model)}
			</div>	
		</div>
	</div>
</div>