<div class="news_block">
  <div class="container-fluid white_block">
    <div class="row">
      <div class="col-md-2">
        <div class="timeline__line"></div>
        <div class="timeline__block">
          <div class="timeline__part"></div>
          <div class="timeline__dot"></div>
          <div class="timeline__text">Гуси</div>
        </div>
        <div class="timeline__block">
          <div class="timeline__part"></div>
          <div class="timeline__dot"></div>
          <div class="timeline__text">Буси</div>
        </div>
        <div class="timeline__block">
          <div class="timeline__part"></div>
          <div class="timeline__dot"></div>
          <div class="timeline__text">Груси</div>
        </div>
      </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.transit/0.9.12/jquery.transit.min.js"></script>
@{import('timeline.js')}